PORT=4000
JWT_SECRET=change-this-secret-before-real-deploy
CORS_ORIGIN=http://localhost:5173
DB_PATH=
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_NAME=Administrateur principal
SEED_NURSE_USERNAME=nurse.demo
SEED_NURSE_PASSWORD=nurse123
SEED_NURSE_NAME=Infirmier demo
